    * {
        box-sizing: border-box;
    }

    html {
        overflow: hidden;
    }
html, body{
  height: 100%;

}
        
body {

background: rgb(96,108,136); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
overflow: auto;


}
    
    
    select, #searchButton {
        margin: 10px;
    }

    select {
        font-size: 16px;
        
    }

    #carMakesDataList {
        display: none;
        
    }

    

    #carModelsDataList {
        display: none;
    }

    #searchButton {
        display: none;
    }

    #yearDataList {
        display: block;
    }

#map {
  height: 430px;
  width: 100%;
  margin: 40px 0;
  border: solid grey 1px;
}

.odometer {
    font-size: 60px;

}

.row {
    margin-top: 50px;
}

.table th {
    text-align: center;
    vertical-align: middle;
}

.vehicleData p {
    
    margin-top: 40px;

}

.buyButton {
    margin-top: 40px;
}

.vehicleData img {
    border: solid grey 2px;
}

.modal-dialog {
    width: 700px;
    padding: 50px;
}

.modal-body input, textarea {
    display: block;
    margin: 10px auto;
}

.modal-body textarea{
    width: 400px;
    height: 100px;
}

.vehicleInfoModal {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


.errorPrompt {
    color: red;
}


#zip, #prices, #miles {
    display: none;
}



.carousel-caption {
    background: rgba(0, 0, 0, 0.70);
 
}


#carousel-example-generic {
    margin-bottom: 50px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
    height: 400px;
}

input {
    margin: 10px;
}


